<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
        <!-- http://materializecss.com/ -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <style media="screen">
          body {
            background: url("http://wallpapercave.com/wp/4CWzZcW.png")
          }
        </style>
    </head>
    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/results/">Results</a></li>
            <li><a href="collapsible.html">Add Poll</a></li>
          </ul>
        </div>
      </nav>

      {{questions}}
    </body>
</html>
